
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAANOOKnzRzMBSLoIKeiCLL2SDiZAMK6CR5NUUwNoiDn2HyfvSe1SZAEevwXVc4ak22BPgBysrA5Slgql4dZCeKbR071zpks7s5rXNSLTF9F6ZAUFzrAe2k4jKZBecR0mx9mAjyg8eGUukiWEkubW8HPZC3kB1goPbBSZAI3p1U9U4AR6YxppnTqkyJ30zVSRWvZBGuzZB7PqdhN8VJDUbg1hz21rK4xpg9gOBUqeqL1nNBYH7ATKmStuwKS7I9hZBpj8AYXwAFwbb95So1lP42KS2D"

APP_ID="930430206560051"
APP_SECRET=""
RECIPIENT_WAID="+233208680892" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v25.0"
PHONE_NUMBER_ID="1120335271158556"

VERIFY_TOKEN=""

OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""